body{
  /*background-color: rgba(84, 161, 134, 0.68);*/
  background-color: #1c1919;
  font-size: 14px;
  font-family: Nunito;
  color: #303835;
}
.description{
  display: flex;
  justify-content: space-between;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.logo{
  font-size: 35px;
  padding: 5px 0 0 10px;
  color: #ffffff;
  text-shadow:1px 1px 2px #46504d;


}
.nav-links{
  margin-bottom: 120px;
  display: flex;
  align-self: center;
}
.nav-links a{
  margin-right: 60px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: Nunito;
  color: #46504d;
}
.about-me{
  display: flex;
}
.about-me_text{
  width: 40%;
  font-size: 30px;
  color: #8d8a8a;
}
.about-me_text h1{
  color:white;
}
.about-me_photo{
  width: 500px;
  height: 640px;
  margin-left: 25%;
  background-color: #151414;
}
.about-me_photo img{
  padding: 50px;
  width: 400px;

}
.about-me_contacts a{
  font-size: 24px;
  text-decoration: none;
  color: #262c2b;
  padding: 10px;
  border-radius: 15px;
  background-color: #4c90f8;
  margin-right: 10px;
}
.about-me_contacts h2{
  color: white;
}
