body{
  /*background-color: rgba(84, 161, 134, 0.68);*/
  background-color: #1F2328;
  font-size: 14px;
  font-family: Nunito;
  color: #303835;
}
.navigation{
  display: flex;
  justify-content: space-between;

}
.container{

  width: 80%;
  margin: 0 auto;
}
.logo{
  font-size: 35px;
  padding: 5px 0 0 10px;
  color: #ffffff;
  text-shadow:1px 1px 2px #46504d;
}
.nav-links{
  z-index: 1;
  position: fixed;
  right: 10px;
  margin-top: 20px;
  margin-bottom: 120px;
  display: flex;
  align-self: center;
}
.nav-links a{
  margin-right: 60px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: Nunito;
  color: #91919b;
  text-shadow: #251d1d 3px 2px 3px;
}
.contacts{
  margin-top: 50px;
  display: flex;
  height: 87vh;
}

.contacts_text{
  width: 40%;
  font-size: 30px;
  color: #8d8a8a;
}
.contacts_text h1{
  color:white;
}
.contacts_photo{
  width: 500px;
  height: 700px;
  margin-left: 25%;

  background-color: #263042;

}
.contacts_photo img{
  padding: 50px;
  width: 400px;

}
.contacts_contacts a{
  font-size: 24px;
  text-decoration: none;
  color: #262c2b;
  padding: 10px;
  border-radius: 15px;
  background-color: #4c90f8;
  margin-right: 10px;
}
.contacts_contacts h2{
  color: white;
}
.projects{
  background-color: #ff8000;
  width: 100%;
  height: 100vh;
  color: #1c1919;
}
.projects-block{
  justify-content: space-between;
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.projects h3{
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding-top: 50px;
  color: #1c1919;

}
.projects-block_card{
  background-color: #f88d23;
  display: flex;
  width: 410px;
  height: 700px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.projects-block_card div{
  margin-top: 30px;
  padding: 10px;
}
.projects-block_card img{
  width: 400px;
  border-radius: 10px;
}
h4{
  align-self: center;
  font-size: 30px;
}
h6{
  font-size: 18px;
}
.about-me{
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/aboutMe.jpg");
  background-repeat: no-repeat;
}
.about-me_text{
  width: 70%;
  margin: 100px 0 0 100px;
  font-size: 20px;
  color: white;

}
h5{
  font-size: 40px;
}


.element-animation1{
  opacity: 0;
  transform: translateX(-200px);
}
.element-animation2{
  opacity: 0;
  transform: translateY(400px);
}

.element-animation4{
  opacity: 0;
  transform: translateX(-400px);

}

 .element-show{
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
   transform: translateX(0%);
}

@media (min-width: 1025px) and (max-width: 1768px){
  .contacts{
    display: flex;
    height: 80vh;
  }

  .contacts_text{
    width: 50%;
    font-size: 24px;
    color: #8d8a8a;
  }
  .contacts_text h1{
    font-size: 35px;
  }
  .contacts_photo{
    width: 340px;
    height: 480px;


    background-color: #263042;

  }
  .contacts_photo img{
    padding: 15px;
    width: 300px;

  }


  .projects{
    background-color: #ff8000;
    width: 100%;
    height: 99vh;
    color: #1c1919;
  }
  .projects-block{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  .projects h3{
    font-size: 35px;

  }
  .projects-block_card{
    background-color: #f88d23;
    display: flex;
    width: 350px;
    height: 540px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .projects-block_card div{
    margin-top: 10px;
    padding: 10px;
  }
  .projects-block_card img{
    width: 340px;
    border-radius: 10px;
  }
  h4{
    font-size: 24px;
  }
  .about-me{
    display: flex;
    width: 100%;
    height: 105vh;
    background-image: url(/img/aboutMe.jpg);
    background-repeat: no-repeat;
    background-size: 1540px;
  }
  .about-me_text{
    width: 60%;
    margin: 50px 0 0 100px;


  }
  h5{
    font-size: 30px;
  }
}
@media (min-width: 390px) and (max-width: 844px){
.nav-links{
  display: none;
  top:50px;
  right: 10px;
  margin-left: 40px;
  margin-top: 10px;
  justify-content: space-evenly;
}
  .nav-links a{
    font-size: 15px;
  }
  .contacts{
    display: flex;
    height: 85vh;
  }
  .contacts_contacts a{
    font-size: 10px;
  }
  .contacts_contacts{
    font-size: 15px;
  }
  .contacts_text{
    width: 100%;
    font-size: 24px;
    color: #8d8a8a;
  }
  .contacts_text h1{
    font-size: 35px;
  }
  .contacts_photo{
   display: none;

  }
  .contacts_photo img{
   display: none;

  }


  .projects{
    background-color: #ff8000;
    width: 100%;
    height: 100%;
    color: #1c1919;
  }
  .projects-block{
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    margin-left: 10px;
    flex-direction: column;
  }
  .projects h3{
    font-size: 24px;

  }
  .projects-block_card{
    display: flex;
    width: 350px;
    height: 540px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .projects-block_card div{
    margin-top: 10px;
    padding: 10px;
  }
  .projects-block_card img{
    width: 340px;
    border-radius: 10px;
  }
  h4{
    font-size: 20px;
  }
  .about-me{
    width: 100%;
    height: 100%;
    background-image: none;
  }
  .about-me_text{
    width: 90%;
   margin-left: 30px;

  }
  h5{
    font-size: 24px;
  }
}
